.bg-primary {
  background-color: rgb(26, 98, 144);
  color: set-text-color(rgb(26, 98, 144));
}

.text-primary {
  color: rgb(26, 98, 144);
}

.bg-accent {
  background-color: #494949;
  color: set-text-color(#494949);
}

.text-accent {
  color: #494949;
}

.bg-success {
  background-color: rgb(56, 143, 56);
  color: set-text-color(rgb(56, 143, 56));
}

.text-success {
  color: rgb(56, 143, 56);
}

.bg-danger {
  background-color: rgb(207, 68, 68);
  color: set-text-color(rgb(207, 68, 68));
}

.text-danger {
  color: rgb(207, 68, 68);
}

.bg-warning {
  background-color: rgb(255, 217, 0);
  color: set-text-color(rgb(255, 217, 0));
}

.text-warning {
  color: rgb(255, 217, 0);
}

.bg-dark {
  background-color: rgb(70, 70, 70);
  color: set-text-color(rgb(70, 70, 70));
}

.text-dark {
  color: rgb(70, 70, 70);
}

.bg-light {
  background-color: rgb(240, 240, 240);
  color: set-text-color(rgb(240, 240, 240));
}

.text-light {
  color: rgb(240, 240, 240);
}

.bg-transparent {
  background-color: rgba(255, 255, 255, 0.01);
  color: set-text-color(rgba(255, 255, 255, 0.01));
}

.text-transparent {
  color: rgba(255, 255, 255, 0.01);
}

.contain-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.cover-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  margin: 0px auto;
  padding: 0px 10px;
}
@media (max-width: 576px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 990px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1199px;
  }
}

.fade {
  transition: transform 0.75s ease, opacity 0.75s ease;
  opacity: 0;
}

.fade-up {
  transform: rotate(1deg) translateY(50px);
}

.fade-right {
  transform: translateX(50px);
}

.fade-left {
  transform: translateX(-50px);
}

.show-fade {
  opacity: 1;
  transform: rotate(0deg) translate(0px, 0px);
}

.absolute {
  position: absolute !important;
}

.fixed {
  position: fixed !important;
}

.relative {
  position: relative !important;
}

.static {
  position: static !important;
}

.sticky {
  position: sticky !important;
}

.top-0 {
  top: 0;
}

.left-0 {
  top: 0;
}

.right-0 {
  top: 0;
}

.bottom-0 {
  top: 0;
}

.top-50 {
  top: 50;
}

.left-50 {
  top: 50;
}

.right-50 {
  top: 50;
}

.bottom-50 {
  top: 50;
}

.top-100 {
  top: 100;
}

.left-100 {
  top: 100;
}

.right-100 {
  top: 100;
}

.bottom-100 {
  top: 100;
}

.flex {
  display: flex !important;
}

.block {
  display: block !important;
}

.inline-block {
  display: inline-block !important;
}

.inline-flex {
  display: inline-flex !important;
}

.grid {
  display: grid !important;
}

.none {
  display: none !important;
}

.align-baseline {
  align-items: baseline !important;
}

.align-center {
  align-items: center !important;
}

.align-start {
  align-items: start !important;
}

.align-end {
  align-items: end !important;
}

.justify-baseline {
  justify-content: baseline !important;
}

.justify-center {
  justify-content: center !important;
}

.justify-between {
  justify-content: space-between !important;
}

.justify-evenly {
  justify-content: space-evenly !important;
}

.justify-around {
  justify-content: space-around !important;
}

.justify-start {
  justify-content: flex-start !important;
}

.justify-end {
  justify-content: flex-end !important;
}

.gap-0 {
  gap: 0px !important;
}

.gap-1 {
  gap: 5px !important;
}

.gap-2 {
  gap: 10px !important;
}

.gap-3 {
  gap: 15px !important;
}

.gap-4 {
  gap: 20px !important;
}

.gap-5 {
  gap: 25px !important;
}

.p-0 {
  padding: 0px;
}

.p-1 {
  padding: 10px;
}

.p-2 {
  padding: 20px;
}

.p-3 {
  padding: 30px;
}

.p-4 {
  padding: 40px;
}

.p-5 {
  padding: 50px;
}

.pt-0 {
  padding-top: 0px;
}

.pt-1 {
  padding-top: 10px;
}

.pt-2 {
  padding-top: 20px;
}

.pt-3 {
  padding-top: 30px;
}

.pt-4 {
  padding-top: 40px;
}

.pt-5 {
  padding-top: 50px;
}

.pr-0 {
  padding-right: 0px;
}

.pr-1 {
  padding-right: 10px;
}

.pr-2 {
  padding-right: 20px;
}

.pr-3 {
  padding-right: 30px;
}

.pr-4 {
  padding-right: 40px;
}

.pr-5 {
  padding-right: 50px;
}

.pb-0 {
  padding-bottom: 0px;
}

.pb-1 {
  padding-bottom: 10px;
}

.pb-2 {
  padding-bottom: 20px;
}

.pb-3 {
  padding-bottom: 30px;
}

.pb-4 {
  padding-bottom: 40px;
}

.pb-5 {
  padding-bottom: 50px;
}

.pl-0 {
  padding-left: 0px;
}

.pl-1 {
  padding-left: 10px;
}

.pl-2 {
  padding-left: 20px;
}

.pl-3 {
  padding-left: 30px;
}

.pl-4 {
  padding-left: 40px;
}

.pl-5 {
  padding-left: 50px;
}

.m-0 {
  margin: 0px;
}

.m-1 {
  margin: 10px;
}

.m-2 {
  margin: 20px;
}

.m-3 {
  margin: 30px;
}

.m-4 {
  margin: 40px;
}

.m-5 {
  margin: 50px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.mt-4 {
  margin-top: 40px;
}

.mt-5 {
  margin-top: 50px;
}

.mr-0 {
  margin-right: 0px;
}

.mr-1 {
  margin-right: 10px;
}

.mr-2 {
  margin-right: 20px;
}

.mr-3 {
  margin-right: 30px;
}

.mr-4 {
  margin-right: 40px;
}

.mr-5 {
  margin-right: 50px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}

.mb-4 {
  margin-bottom: 40px;
}

.mb-5 {
  margin-bottom: 50px;
}

.ml-0 {
  margin-left: 0px;
}

.ml-1 {
  margin-left: 10px;
}

.ml-2 {
  margin-left: 20px;
}

.ml-3 {
  margin-left: 30px;
}

.ml-4 {
  margin-left: 40px;
}

.ml-5 {
  margin-left: 50px;
}

.mx-auto {
  margin: 0 auto;
}

.my-auto {
  margin: auto 0;
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.mx-0 {
  margin-left: 0px;
  margin-right: 0px;
}

.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.px-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.py-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.mx-1 {
  margin-left: 7px;
  margin-right: 7px;
}

.my-1 {
  margin-top: 7px;
  margin-bottom: 7px;
}

.px-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.py-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.mx-2 {
  margin-left: 14px;
  margin-right: 14px;
}

.my-2 {
  margin-top: 14px;
  margin-bottom: 14px;
}

.px-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.py-3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.mx-3 {
  margin-left: 21px;
  margin-right: 21px;
}

.my-3 {
  margin-top: 21px;
  margin-bottom: 21px;
}

.px-4 {
  padding-left: 40px;
  padding-right: 40px;
}

.py-4 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mx-4 {
  margin-left: 28px;
  margin-right: 28px;
}

.my-4 {
  margin-top: 28px;
  margin-bottom: 28px;
}

.px-5 {
  padding-left: 50px;
  padding-right: 50px;
}

.py-5 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.mx-5 {
  margin-left: 35px;
  margin-right: 35px;
}

.my-5 {
  margin-top: 35px;
  margin-bottom: 35px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: rgb(80, 80, 80);
}

header .images {
  width: 100%;
  height: 100vh;
  position: relative;
}
header .images img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: opacity 0.7s ease-in-out;
  opacity: 0;
}
header .images img.active {
  opacity: 1;
}
header .images::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.35);
}

.bordered-item svg {
  position: absolute;
  background: transparent;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 100px;
  z-index: -1;
}
.bordered-item svg rect {
  stroke: #e6e6e6;
  stroke-width: 1px;
  fill: transparent;
  rx: 30px;
  ry: 30px;
}

section {
  height: 100vh;
  border: 5px solid white;
  color: white;
  margin-bottom: 100px;
}

.spacer {
  width: 100%;
  height: 10vh;
}

.offcanvas {
  position: fixed;
}

nav {
  z-index: 100;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(25px);
  height: 60px;
  width: 340px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 100px;
  padding: 5px 0px 5px 20px;
}
nav .logo {
  width: 60px;
  height: 100%;
}
nav .logo img {
  width: -webkit-fill-available;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 3px;
}
nav .burger {
  width: 60px;
  height: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  border-radius: 50%;
  cursor: pointer;
  transform: rotate(0deg);
  transition: all 0.7s cubic-bezier(0.5, -0.5, 0.5, 1.5);
}
nav .burger span {
  width: 30px;
  height: 3px;
  background-color: #494949;
  transition: all 0.7s cubic-bezier(0.5, -0.5, 0.5, 1.5);
  transform-origin: center;
  position: absolute;
  transform: rotate(0deg) translateY(-4px);
}
nav .burger span:nth-child(2) {
  width: 20px;
  transform: rotate(0deg) translateY(4px);
}
nav .burger.active {
  gap: 0px;
  transform: rotate(-360deg);
}
nav .burger.active span {
  width: 20px;
  height: 3px;
  transform: rotate(45deg) translateY(0px);
}
nav .burger.active span:nth-child(2) {
  transform: rotate(-45deg) translateY(0px);
}

.menu-wrapper {
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.368627451);
  top: 0;
  left: 0;
  backdrop-filter: blur(25px);
  padding: 80px 15px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: start;
  transform-origin: bottom left;
  transform: scale(0);
  transition: transform 0.7s ease-in-out, border-radius 0.7s ease-in-out;
}
.menu-wrapper.active {
  transform: scale(1);
  transform-origin: top right;
}

.menu {
  z-index: 100;
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 25px;
  width: 340px;
  height: auto;
  flex-direction: column;
  backdrop-filter: blur(25px);
  padding: 20px 0px;
  left: 50%;
  top: 80px;
  transform-origin: top left;
  transform: translateX(-50%) scale(0);
  transition: transform 0.7s ease-in-out;
  transition-delay: 0.1s;
}
.menu a {
  text-decoration: none;
  color: #494949;
  font-size: 16px;
  position: relative;
  width: 100%;
  text-align: center;
  padding: 10px;
  transition: all 0.7s cubic-bezier(0.5, -0.5, 0.5, 1.5);
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
}
.menu a::after, .menu a::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 6px;
  background: rgba(255, 255, 255, 0.5);
  transition: transform 0.7s ease-in-out;
  transform-origin: right;
  transform: scaleX(0);
  bottom: 0;
}
.menu a::after {
  background: rgb(26, 98, 144);
}
.menu a::before {
  transition-delay: 0.2s;
}
.menu a:hover {
  color: rgb(26, 98, 144);
}
.menu a:hover::after, .menu a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.menu a:hover::before {
  transition-delay: 0s;
}
.menu a:hover::after {
  transition-delay: 0.2s;
  animation-delay: 1.7s;
}
.menu.active {
  transform-origin: top right;
  transform: translateX(-50%) scale(1);
}

#about {
  position: relative;
}
#about .about-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(0deg);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  flex-flow: row wrap;
  background-color: rgb(71, 71, 71);
  color: white;
  gap: 15px;
}
#about .about-card .card-image {
  width: 220px;
  height: 220px;
  position: relative;
}
#about .about-card .card-image img {
  width: 100%;
}
#about .about-card.card-1 {
  z-index: 4;
  /* Keep on top */
  transform: translate(-50%, -50%) rotate(0deg) scale(1);
  border: 5px solid red;
}
#about .about-card.card-2 {
  z-index: 3;
  transform: translate(-50%, -60%) rotate(3deg) scale(0.9);
  border: 5px solid green;
}
#about .about-card.card-3 {
  z-index: 2;
  transform: translate(-50%, -70%) rotate(6deg) scale(0.8);
  border: 5px solid blue;
}
#about .about-card.card-4 {
  z-index: 1;
  /* Keep at the bottom */
  transform: translate(-50%, -80%) rotate(9deg) scale(0.7);
  border: 5px solid yellow;
}
#about .about-card .card-text {
  width: 450px;
  font-size: 18px;
  letter-spacing: 3px;
}

#services {
  height: 100vh;
  border: 5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#services h1 {
  font-size: 90px;
  text-align: center;
  color: rgba(255, 255, 255, 0.0705882353);
  text-transform: uppercase;
}
@media (max-width: 576px) {
  #services h1 {
    font-size: 60px;
  }
}
#services .service-card {
  width: 320px;
  background: red;
  padding: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
#services .service-card:nth-child(odd) {
  transform: translate(-100%, -15%);
}
@media (max-width: 576px) {
  #services .service-card:nth-child(odd) {
    transform: translate(-50%, -15%);
  }
}
#services .service-card {
  /* Card 2: Right side, starts halfway down Card 1 (track 2 to 4) */
}
#services .service-card:nth-child(even) {
  transform: translate(0%, -15%);
}
@media (max-width: 576px) {
  #services .service-card:nth-child(even) {
    transform: translate(-50%, -15%);
  }
}
#services .service-card img {
  width: 100%;
}
#services .service-card .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#services .service-card .card-body svg {
  fill: white;
  text-transform: uppercase;
}

#why .why-content {
  width: clamp(340px, 75%, 1000px);
  margin: 50px auto;
}
#why .why-content p {
  background: #494949;
  padding: 15px;
  word-spacing: 5px;
  border-radius: 10px;
  margin: 20px 0px;
  position: relative;
  z-index: 0;
  box-shadow: 0 0 10px 1px rgb(26, 98, 144);
  animation: shadow 10s ease-in-out 0s infinite;
}
#why .counter-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 15px;
}
#why .counter-cards .counter-card {
  width: 340px;
  background: red;
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

#contact {
  height: 75vh;
  max-width: 100vw;
  background: #292929;
  border: 0;
  border-top: 1px solid white;
  margin: 0;
}
#contact .logo {
  width: 200px;
  height: 200px;
  margin: 30px auto;
}
#contact .logo img {
  width: 100%;
}
#contact .flex {
  flex-flow: row wrap;
}
#contact .flex div {
  width: clamp(340px, 50%, 700px);
  height: 340px;
  background: red;
}

@keyframes shadow {
  0% {
    box-shadow: 0 0 10px 1px rgb(26, 98, 144);
  }
  20% {
    box-shadow: 4px 0 10px 5px rgb(26, 98, 144);
  }
  40% {
    box-shadow: 4px 4px 10px 5px rgb(26, 98, 144);
  }
  60% {
    box-shadow: -4px 0px 10px 5px rgb(26, 98, 144);
  }
  80% {
    box-shadow: 0 -4px 10px 5px rgb(26, 98, 144);
  }
  100% {
    box-shadow: 0 0 10px 1px rgb(26, 98, 144);
  }
}