@import "./partials/index";
@import "./_alkholoudbm.scss";
@import "./offcanvas.scss";

#about {
  $degree: 1;
  position: relative;

  .about-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(0deg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    flex-flow: row wrap;
    background-color: rgb(71 71 71);
    color: white;
    gap: 15px;
    border: 3px solid #1a6194;
    box-shadow: 0px 0px 10px 5px #1a6194;

    @include mobile() {
      padding: 12px;
      height: stretch;

      ul {
        list-style-type: none;
      }
    }

    .card-image {
      width: 220px;
      height: 220px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 15px;

      img,
      svg {
        width: 100%;
      }

      p {
        text-transform: uppercase;
      }
    }

    &.card-1 {
      z-index: 4;
      /* Keep on top */
      transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }

    &.card-2 {
      z-index: 3;
      transform: translate(-50%, -60%) rotate(3deg) scale(0.9);
    }

    &.card-3 {
      z-index: 2;
      transform: translate(-50%, -70%) rotate(6deg) scale(0.8);
    }

    &.card-4 {
      z-index: 1;
      /* Keep at the bottom */
      transform: translate(-50%, -80%) rotate(9deg) scale(0.7);
    }

    .card-text {
      width: 450px;
      font-size: 18px;
      letter-spacing: 3px;

      @include mobile() {
        width: 100%;
        text-align: center;
      }
    }
  }
}

#services {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  h1 {
    font-size: 90px;
    text-align: center;
    color: #ffffff12;
    text-transform: uppercase;

    @include mobile() {
      font-size: 60px;
    }
  }

  .service-card {
    width: 320px;
    background: #3f3f3f;
    border-radius: 10px;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;

    &:nth-child(odd) {
      transform: translate(-100%, -15%);

      @include mobile() {
        transform: translate(-50%, -15%);
      }
    }

    /* Card 2: Right side, starts halfway down Card 1 (track 2 to 4) */
    &:nth-child(even) {
      transform: translate(0%, -15%);

      @include mobile() {
        transform: translate(-50%, -15%);
      }
    }

    img {
      width: 100%;
    }

    .card-body {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .title {
        text-transform: uppercase;
        font-weight: 600;
        margin: 10px;
      }
    }
  }
}

#why {
  .why-content {
    width: clamp(340px, 75%, 1000px);
    margin: 50px auto;

    p {
      background: #494949;
      padding: 15px;
      word-spacing: 5px;
      border-radius: 10px;
      margin: 20px 0px;
      position: relative;
      z-index: 0;
      box-shadow: 0 0 10px 1px $primary;
      animation: shadow 5s ease-in-out 0s infinite;
      animation-direction: alternate;
    }
  }

  .counter-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 15px;

    .counter-card {
      width: 340px;
      height: 340px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 15px;

      .card-icon {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 50%;
        }
      }
    }
  }
}

#contact {
  max-width: 100vw;
  background: #292929;
  border: 0;
  border-top: 1px solid white;
  margin: 0;
  position: relative;
  height: auto;
  padding-bottom: 100px;

  .logo {
    width: 200px;
    height: 200px;
    margin: 30px auto;

    img {
      width: 100%;
    }
  }

  .flex {
    flex-flow: row wrap;

    div {
      max-width: 500px;
      min-width: 320px;
      height: 250px;
      border-radius: 10px;
      overflow: hidden;
      flex: 1;
    }

    iframe {
      width: 100%;
      height: 100%;
    }

    li {
      margin: 10px 0px;
    }
  }

  .socials {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    .social-links {
      width: auto;
      margin: 15px auto;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      a {
        width: 30px;
        display: flex;
        height: 30px;
        justify-content: center;

        svg {
          fill: #747474;
        }

        &:hover {
          svg {
            fill: #ffffff;
          }
        }

        img {
          width: 100%;
        }
      }
    }

    .copy {
      color: #747474;
      text-align: center;
    }
  }
}

.scroll-down-indicator {
  width: 1px;
  height: 50px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);

  &::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 0;
    background: white;
    transform: translateX(-50%) scaleY(0.5);
    transform-origin: center;

    animation: scroll-down 1s linear 0s infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }

  &::after {
    content: "SCROLL DOWN";
    position: absolute;
    width: max-content;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(255, 255, 255, 0.5);
  }
}

@keyframes scroll-down {
  0% {
    transform: translateX(-50%) scaleY(0.2);
  }

  100% {
    transform: translateX(-50%) scaleY(1);
  }
}

@keyframes shadow {
  0% {
    box-shadow: 0 0 10px 1px $primary;
  }
  100% {
    box-shadow: 0 0 15px 5px $primary;
  }
}
